<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="SA-TRA">
    <title>SA-TRA</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

<link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Estilos -->
     <link href="{% static 'dashboard/dashboard-2.css' %}" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top flex-md-nowrap bg-black p-0 ">
 
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-center fw-bold " href="#">
     SA-TRA
  </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-secondary sidebar collapse ">
      <div class="position-sticky sidebar-sticky">

        <a href="#" class="list-group-item list-group-item-action d-flex py-3 mx-3 dropdown-toggle" aria-current="true">
          <img src="{% static 'img/icons/icons8-cumpleaños-100.png' %}" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between px-2">
            <div>
              <h6 class="mb-0">{{user.username}}</h6>
              {% if user.is_superuser %}
              <p class="mb-0 opacity-75">Administrador</p>
              {% else %}
                <p class="mb-0 opacity-75">{{user.groups.all.0.name}}</p>
              {% endif %}
            </div>
           
          </div>
        </a>

        <form action="{% url 'busqueda' %}" method="GET" class="d-flex mx-2 pt-0 mb-2" >
          <input class="form-control bg-dark-subtle rounded-5 border border-0 rounded-end" type="text" name="q" placeholder="Buscar" >
          <button type="submit" class="btn bg-dark-subtle rounded-5 rounded-start" id="button-addon2">
            <img src="{% static 'img/nav/icons8-search-100.png' %}" width="20px">
          </button>
        </form>

        <ul class="nav flex-column ">

          <li class="nav-item h7 mb-0 d-flex justify-content-between align-items-center">
            <a class="nav-link fw-normal" aria-current="page" href="{% url 'inicio' %}">
              <img src="{% static 'img/nav/icons8-casa-94.png' %}" width="25" class="bg-dark-subtle rounded-2 me-1 p-1">
              Inicio
            </a>
          </li>

          <li class="nav-item h7 mb-0">
            <a class="nav-link fw-normal" href="{% url 'listar_todos_documentos' %}">
              <img src="{% static 'img/nav/icons8-paquete-94.png' %}"  width="25" class="bg-dark-subtle rounded-2 mx-auto p-1">
              Fichero
            </a>
          </li>

          <li class="border-top my-2"></li>

          {% if user.is_staff %}
          <h6 class="px-3 fw-semibold mb-3">Configuración</h6>
          {% endif %}

          {% if user.is_staff %}
          <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black" href="{% url 'listar_roles' %}">
              <img src="{% static 'img/nav/icons8-escudo-de-pregunta-94.png' %}" width="25" class="bg-dark-subtle rounded-2 me-1 p-1">
              Roles
            </a>
            <a class="link-secondary" href="{% url 'crear_rol' %}" aria-label="Add a new report">
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
          </li>
          {% endif %}

          {% if user.is_staff %}
          <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black" href="{% url 'listar_comentarios' %}">
              <img src="{% static 'img/nav/icons8-comentarios-94.png' %}" width="25"class="bg-dark-subtle rounded-2 me-1 p-1">
              Comentarios
            </a>
            <a class="link-secondary" href="{% url 'crear_comentario' %}" aria-label="Add a new report">
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
          </li>
          {% endif %}

          {% if user.is_staff %}
           <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black" href="{% url 'listar_tipo_archivos' %}">
              <img src="{% static 'img/nav/icons8-documento-94.png' %}" width="25" class="bg-dark-subtle rounded-2 me-1 p-1">
              Archivos
            </a>
            <a class="link-secondary" href="{% url 'crear_tipo_archivos' %}" aria-label="Add a new report">
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
          </li>
          {% endif %}

          {% if user.is_staff %}
           <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black"  href="{% url 'listar_tipo_documento' %}">
              <img src="{% static 'img/nav/icons8-documentos-94.png' %}"  width="25" class="bg-dark-subtle rounded-2 me-1 p-1">
              Documentos
            </a>
            <a class="link-secondary" href="{% url 'crear_tipo_documento' %}" aria-label="Add a new report">
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
          </li>
          {% endif %}

          {% if user.is_staff %}
          <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black"  href="{% url 'listar_estados' %}">
             <img src="{% static 'img/nav/icons8-aprobación-94.png' %}"  width="25" class="bg-dark-subtle rounded-2 mx-auto p-1">
              Estados
            </a>
            <a class="link-secondary" href="{% url 'crear_estado' %}" aria-label="Add a new report">
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
          </li>
          {% endif %}

          <li class="border-top my-2"></li>
         
          <h6 class="px-3 fw-semibold mb-3">Herramientas</h6>

          <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black "  href="{% url 'directorio' %}">
             <img src="{% static 'img/nav/icons8-contactos-94.png' %}"  width="25" class="bg-dark-subtle rounded-2 mx-auto p-1">
              Directorio
            </a>
          </li>

          <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black"  href="{% url 'listar_empleados' %}">
              <img src="{% static 'img/nav/icons8-maletín-94.png' %}"  width="25" class="bg-dark-subtle rounded-2 mx-auto p-1">
              Empleados
            </a>
            <div class="dropdown-center">
            <a class="link-secondary "  type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
              <ul class="dropdown-menu">
                 <li><a class="dropdown-item small" href="{% url 'registrar_persona' 1%}">Registrar empleado</a></li>
                <li><a class="dropdown-item small" href="{% url 'registro' %}">Registrar cuenta</a></li>
              </ul>

            </div>
          </li>

           <li class="nav-item h7 d-flex justify-content-between align-items-center px-3  mb-2  ">
            <a class="fw-normal text-decoration-none text-black"  href="{% url 'listar_clientes' %}">
             <img src="{% static 'img/nav/icons8-usuario-femenino-94.png' %}"  width="25" class="bg-dark-subtle rounded-2 mx-auto p-1">
              Clientes
            </a>
            <a class="link-secondary" href="{% url 'registrar_persona' 2 %}" >
              <img src="{% static 'img/nav/icons8-añadir-100.png' %}" width="24" height="24"  class="feather feather-plus-circle align-text-bottom" >
            </a>
          </li>

          <li class="px-2 my-3  w-100">
            {% if user.is_authenticated %}
              <a type="button" class="btn btn-outline-danger rounded-5 w-100 fw-normal" href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
              <a type="button" class="btn btn-outline-dark rounded-5 w-100"  href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
          </li>


        </ul>
        
      </div>
      
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-1 border-bottom">

        <b class="display-6 fw-normal fw-bold d-flex align-items-center mb-3 mb-lg-0 me-lg-auto">
          {% block title %}
          {% endblock %}
        </b>

        {% block css_add %}
        {% endblock %}
      </div>

      <div>
        {% block cuerpo %}
        {% endblock %}
      </div>

      {% block javascript %}
      {% endblock %}
     
    </main>
  </div>
</div>


    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="{% static 'dashboard/dashboard.js/dashboard.js' %}"></script>
  </body>

</html>
