{% extends 'base/base.html' %}
{% load static %}
{% load poll_extras %}

{% block cuerpo %}


{% for obj in object_list %}
{% if forloop.first %}
<h1>Titulo plural: {{ obj|verbose_name_plural }}</h1><br>
<h1>Titulo: {{ obj|verbose_name }}</h1><br>
{% endif %}
{% get_verbose_name obj 'nombre' %}: {{obj.nombre}}
{% get_verbose_name obj 'tamano_MB' %}: {{obj.tamano_MB}}
{% get_verbose_name obj 'tipo_arch' %}: {{obj.tipo_arch.extension}}
<a href="{% url 'editar_tipo_documento' obj.id %}">Editar</a>
<a href="{% url 'eliminar_documento' obj.id %}">Eliminar</a>

<br><br>
{% endfor %}

{% endblock %}
