{% extends 'base/index.html' %}
{% load static %}
{% block title %}
<img class="bi me-2 " src="{% static 'img/icons/icons8-alta-prioridad-94.png' %}" height="50px">
    Advertencia
{% endblock %}

{% block estilos %}
<style name="estilo_403">
@import url('https://fonts.googleapis.com/css?family=Lato');

#div_403 {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#body_403 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #EEE, #AAA);
}

#h1_403 {
  margin: 40px 0 20px;
}

</style>
{% endblock %}

{% block cuerpo %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="div_403">

<div class="message my-5" align="center">
  <img src="{% static 'img/candado_403.png' %}" alt="twbs" width="100" height="100" class=" flex-shrink-0 my-5">
  <h1 class="display-6 fw-normal fw-bold" align="center">El accesso a esta pagina esta <a class="text-decoration-none text-danger">restringido</a></h1>
  <p align="center">Por favor verifica que tienes los permisos necesarios.</p>
  <p align="center">Contacta al administrador para resolver el conflicto si es necesario.</p>
  <p align="center">
  <input type="button" value="Regresar" onClick="history.go(-1);" class="btn btn-lg rounded-pill btn-secondary my-2">
  <a href="{% url 'inicio' %}" class="btn btn-lg rounded-pill btn-dark my-2">Ir al inicio</a>
  </p>
</div>
</div>

{% endblock %}