{% extends 'base/index.html' %}
{% load static %}

{% block title %}
    <img class="bi me-2 " src="{% static 'img/icons/icons8-búsqueda-94.png' %}" height="50px">
    Resultados
{% endblock%}

{% block cuerpo %}

    {% for lista in contexto %}
        {% if lista.object_list %}
            <div class="rounded-5 my-3 p-3 shadow-sm" style="background-color: #e2e3e5;">
                {% if lista.titulo %}
                    <h6 class="text-dark fs-5 fw-bold border-bottom pb-2 mb-0">
                        {% if titulo == 'Roles' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-escudo-de-pregunta-94.png' %}" height="25px" >
                        {% elif lista.titulo == 'Comentarios' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-comentarios-94.png' %}" height="25px">
                        {% elif lista.titulo == 'Documentos' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-documentos-94.png' %}" height="25px">
                        {% elif lista.titulo == 'Archivos' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-documento-94.png' %}" height="25px">
                         {% elif lista.titulo == 'Estados' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-aprobación-94.png' %}" height="25px">
                        {% elif lista.titulo == 'Directorio' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-contactos-94.png' %}" height="25px">
                        {% elif lista.titulo == 'Empleados' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-maletín-94.png' %}" height="25px">
                        {% elif lista.titulo == 'Clientes' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-usuario-femenino-94.png' %}" height="25px">
                        {% elif lista.titulo == 'Usuarios' %}
                            <img class="rounded-5 bg-light p-1" src="{% static 'img/nav/icons8-usuario-femenino-94.png' %}" height="25px">
                        {% endif %}

                        {{ lista.titulo }}

                    </h6>
                {% endif %}
                <table class="table table-secondary align-middle mb-0 ">
                    <tbody>
                        {% for val in lista.object_list %}
                            <tr>
                                <td>
                                   <div class="d-flex">
                                        <p class="mb-0">{{ val }}</p>
                                    </div>
                                </td>
                                <td class="col-2">
                                    {% if lista.titulo == 'Documentos' %}

                                        <a class="btn btn-sm rounded-pill btn-dark href="{% url lista.lista_url %}?doc={{val.id}}">
                                            Examinar
                                        </a>
                                    {% else %}
                                        <a class="btn btn-sm rounded-pill btn-dark" href="{% url lista.lista_url pk=val.id %}">

                                            Mas inf.</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <p>Sin registros</p>
                        {% endfor %}

                    </tbody>
                </table>
                <small class="d-block text-end mt-3">
                    <!--<a href="#">Opcion</a>-->
                </small>
            </div>
        {% else %}
        <div class="alert rounded shadow-sm bg-secondary text-light rounded-5">
            <img src="{% static 'img/icons8-box-important-100.png' %}" height="25px">
           Sin resultados en {{ lista.titulo }}
        </div>
    {% endif %}
    {% endfor %}



{% endblock%}