{% extends 'menu.html' %}
{% load static %}

{% block contenido %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if form.errors %}
    <ul>
      {% for field_name, field_errors in form.errors.items %}
        <li>{{ field_name }}:
          <ul>
            {% for error in field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

<div class="card rounded-4 ">
    <div class="card-header">
    </div>
     <div class="card-body">
    <h5 class="card-title">Añadir {{titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{titulo}}</h6>
    <div class="card-text">
        A continuación agrega la información
        <hr>
        <form class="my-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <p>
         {% if listaFieldsM2M and  field.widget_type == 'checkboxselectmultiple'%}
            {% for fieldName,URL in listaFieldsM2M %}
                {% if fieldName == field.name %}
                {{field.label}} : <a href="{% url URL %}" class="btn btn-warning btn-sm">Crear</a>
                {% endif %}
            {% endfor %}
         {% else %}
         <!-- Tags para roles -->
            {% if esRoles %}
                {% if field.widget_type == 'checkboxselectmultiple' %}
                    {{field.label}} : {{field}}<br>
                {% endif %}
            {% endif %}
            {% if esEmpleado %}
                {% if field.name != 'tipo_usuario' %}
                    {{field.label}} : {{field}} <br>
                {% endif %}
            {% else %}
                {{field.label}} : {{field}}
            {% endif %}
            <!-- -->
         {% endif %}
        </p>
        {% endfor %}

        <div class="d-grid gap-2 col-3 mx-auto">
            <button type="submit" class="btn btn-sm btn-primary btn-lg">Registrar</button>
            <input type="button" value="Cancelar" onClick="history.go(-1);" class="btn btn-sm btn-danger btn-lg">
        </div>
        </form>

    </div>
  </div>
</div>
<br>
{% endblock %}