{% extends 'menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="card rounded-4 bg-body-tertiary">
    <div class="card-header bg-dark-subtle rounded-top-5">
    </div>
     <div class="card-body">
    <p class="card-title px-3 fs-3 fw-bold text-dark text-muted text-aling-center py-3">
         <img class="bi " src="{% static '/img/icons/icons8-editar-94.png' %}" height="25px">
        {{titulo}}
    </p>
    <div class="card-text">

        <div class="row g-5">
        <div class="col">
        <form method="POST" class="px-3" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
        <p>Permisos sobre documento: </p>
        {% for documento in  permisosDocumentos%}
        <div>
            &emsp;{{documento}}:&emsp;
            {% if "doc_edicion_"|add:documento in seleccionados %}
                <label for="id_permiso_editar_{{documento}}"><input type="checkbox" name="doc_edicion_{{documento}}" value="1" id="id_permiso_editar_{{documento}}" checked>
                Editar</label>&nbsp;
            {% else %}
                <label for="id_permiso_editar_{{documento}}"><input type="checkbox" name="doc_edicion_{{documento}}" value="1" id="id_permiso_editar_{{documento}}">
                Editar</label>&nbsp;
            {% endif %}
            {% if "doc_ver_"|add:documento in seleccionados %}
                <label for="id_permiso_ver_{{documento}}"><input type="checkbox" name="doc_ver_{{documento}}" value="1" id="id_permiso_editar_{{documento}}" checked>
                Ver</label>
            {% else %}
                <label for="id_permiso_ver_{{documento}}"><input type="checkbox" name="doc_ver_{{documento}}" value="1" id="id_permiso_editar_{{documento}}">
                Ver</label>
            {% endif %}
        </div>
        {% empty %}
            No hay documentos registrados
            <br><br>
        {% endfor %}

        <div class="d-flex gap-2 col-3 mx-auto">
            <button type="submit" class="btn rounded-pill btn-dark">Registrar</button>
            <a  class="btn rounded-pill btn-danger" href="{% url 'listar_roles' %}">Cancelar</a>
        </div>
        </form>
        </div>
   </div>
    </div>
  </div>
</div>
<br>
{% endblock %}