{% extends 'base/index.html' %}
{% load static %}
{% block cuerpo %}
<form action="{% url 'busqueda' %}" method="GET">
    <input type="text" name="q" placeholder="Buscar">
    <button type="submit">Buscar</button>
</form>
<p>
    <a href="{% url 'crear_estado' %}">Crear Estado</a>
</p>
<p>
    <a href="{% url 'listar_estados' %}">Lista de Estados (ver, editar)</a>
</p><br>
<p>
    <a href="{% url 'crear_comentario' %}">Crear Comentario</a>
</p>
<p>
    <a href="{% url 'listar_comentarios' %}">Lista de Comentario (ver, editar)</a>
</p><br>
<p>
    <a href="{% url 'crear_tipo_archivos' %}">Crear Tipo de archivo</a>
</p>
<p>
    <a href="{% url 'listar_tipo_archivos' %}">Lista de Tipos de archivo (ver, editar)</a>
</p><br>
<p>
    <a href="{% url 'crear_rol' %}">Crear rol</a>
</p>
<p>
    <a href="{% url 'listar_roles' %}">Lista de Roles (ver, editar)</a>
</p><br>
<p>
    <a href="{% url 'crear_tipo_documento' %}">crear documento</a>
</p>
<p>
    <a href="{% url 'listar_tipo_documento' %}">Lista Documentos</a>
</p><br>
<p>
    <a href="{% url 'registrar_persona' 2 %}">crear persona</a>
</p>
<p>
    <a href="{% url 'listar_personas' %}">Lista de todas las personas</a><br>
    <a href="{% url 'listar_clientes' %}">Lista clientes</a><br>
    <a href="{% url 'listar_empleados' %}">Lista empleados</a><br>
</p><br>

<p>
    <a href="{% url 'directorio' %}">Directorio</a>
</p>
<p>
    <a href="{% url 'subir_documento' %}">Subir documento de algun cliente</a><br>
    <a href="{% url 'listar_todos_documentos' %}">Lista de documentos de clientes</a>
</p>

{% endblock%}