{% extends 'base/index.html' %}
{% load static %}

{% block title %}

    {% if titulo == 'inicio' %}
        <img class="bi me-2 " src="{% static 'img/nav/icons8-casa-94.png' %}" height="50px">
        Inicio
    {% elif titulo == 'fichero' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-paquete-94.png' %}" height="50px">
        Fichero
    {% elif titulo == 'roles' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-escudo-de-pregunta-94.png' %}" height="50px" >
        Roles
    {% elif titulo == 'comentarios' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-comentarios-94.png' %}" height="50px" >
        Comentarios
    {% elif titulo == 'archivos' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-documento-94.png' %}" height="50px">
        Archivos
    {% elif titulo == 'documentos' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-documentos-94.png' %}" height="50px">
        Documentos
    {% elif titulo == 'estados' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-aprobación-94.png' %}" height="50px">
        Estados
    {% elif titulo == 'directorio' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-contactos-94.png' %}" height="50px">
        Directorio
    {% elif titulo == 'clientes' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-usuario-femenino-94.png' %}" height="50px">
        Clientes
    {% elif titulo == 'empleados' %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-maletín-94.png' %}" height="50px">
        Empleados
    {% elif titulo == 'Cuentas de usuario' %}
        <img src="{% static 'img/nav-color/icons8-administrator-male-100.png' %}" height="40px">
        Cuentas de usuario
    {% endif %}

{% endblock%}

{% block cuerpo %}
   {% if titulo == 'inicio' %}
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bienvenido</h1>
             <p class="lead text-muted">
               texto
             </p>
             <p>
               <a href="#" class="btn btn-primary my-2">Opción 1</a>
               <a href="#" class="btn btn-secondary my-2">Opción 2</a>
            </p>
          </div>
        </div>
      </section>
  {% endif %}


    {% if titulo == 'documentos' %}{% endif %}
    {% if titulo == 'archivos' %}{% endif %}
    {% if titulo == 'directorio' %}{% endif %}
    {% if titulo == 'clientes' %}{% endif %}


   {% if titulo == 'empleados' or titulo == 'Cuentas de usuario' %}
    <ul class="nav nav-tabs d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center ">
      <li class="nav-item ">
        <a class="nav-link link-secondary" href="{% url 'listar_empleados' %}">Lista de empleados</a>
      </li>
        <li class="nav-item ">
        <a class="nav-link link-secondary" href="{% url 'listar_cuentas_usuario' %}">Lista de cuentas de usuario</a>
      </li>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  ">
        <div class="btn-toolbar mb-2 mb-md-0 ">
          <div class="btn-group me-2 ">
            <a type="button" class="btn btn-sm btn-dark rounded-pill" href="{% url 'registrar_persona' 1%}">
                 <img src="{% static 'img/icons8-add.png' %}" height="20px">
                Registrar empleado
            </a>
            <a type="button" class="btn btn-sm btn-success rounded-pill" href="{% url 'registro' %}">
              <img src="{% static 'img/icons8-add.png' %}" height="20px">
               Registrar cuenta empleado
         </a>
          </div>
        </div>
        </div>
    </ul>
   {% endif %}

    {% if titulo == 'Comentarios' %}
        <a type="button" class="btn btn-sm btn-dark rounded-pill " href="{% url 'crear_comentario' %}">
              <img src="{% static 'img/icons8-add.png' %}" height="20px">
               Registrar comentario
         </a>
    {% endif %}

    {% if titulo == 'empleados' %}{% endif %}
    {% if titulo == 'comentarios' %}{% endif %}


    {% block contenido %}
    {% endblock %}
{% endblock%}


