{% extends 'base/index.html' %}
{% load static %}

{% block title %}

    {% if 'inicio' in titulo|lower %}
        <img class="bi me-2 " src="{% static 'img/nav/icons8-casa-94.png' %}" height="50px">
        Inicio
    {% elif 'fichero' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-paquete-94.png' %}" height="50px">
        Fichero
    {% elif 'rol' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-escudo-de-pregunta-94.png' %}" height="50px" >
        Roles
    {% elif 'comentario' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-comentarios-94.png' %}" height="50px" >
        Comentarios
    {% elif 'archivos' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-documento-94.png' %}" height="50px">
        Archivos
    {% elif 'documento' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-documentos-94.png' %}" height="50px">
        Documentos
    {% elif 'estado' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-aprobación-94.png' %}" height="50px">
        Estados
    {% elif 'tipo de' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-revista-94.png' %}" height="50px">
        Tipos de clientes
    {% elif 'directorio' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-contactos-94.png' %}" height="50px">
        Directorio
    {% elif 'cliente' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-usuario-femenino-94.png' %}" height="50px">
        Clientes
    {% elif 'correo a soporte técnico' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/icons/icons8-auriculares-100.png' %}" height="50px">
        Asistencia
    {% elif 'empleado' in titulo|lower or 'cuentas de usuario' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-maletín-94.png' %}" height="50px">
        Empleados
    {% endif %}

{% endblock%}

{% block cuerpo %}
    {% if titulo == 'inicio' %}
    <style>
         .background {
          background-color:hsla(0,0%,0%,1);
          background-image:
          radial-gradient(at 0% 50%, hsla(50,100%,55%,0.15) 0px, transparent 50%),
          radial-gradient(at 80% 50%, hsla(128,100%,52%,0.07) 0px, transparent 50%),
          radial-gradient(at 80% 100%, hsla(240,100%,70%,0.2) 0px, transparent 50%),
          radial-gradient(at 0% 0%, hsla(343,100%,51%,0.15) 0px, transparent 50%);
          height:100%;
          width: 100%;
      }
    </style>
       <div class="p-4 mb-3 rounded-4 text-bg-dark background shadow-sm">
           <div class="row gx-5 align-items-center justify-content-center">
               <div class="col-lg-8 col-xl-7 col-xxl-6">
                   <div class="my-5 text-center text-xl-start">
                       <h1 class="display-5 fw-bolder text-white mb-2">¡Hola de nuevo, {{user.username}}!</h1>
                   </div>
               </div>
               <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                   <img class="object-fit-contain my-5 " src="{% static 'img/ilustraciones/business-3d-seated-businessman-in-dark-blue-suit-with-laptop.png' %}" height="200px" width="200px" alt="...">
               </div>
           </div>
      </div>
    <div class="row align-items-md-stretch g-3 mb-4">
      <div class="col-md-6 ">
        <div class="h-100 p-5  text-bg-dark rounded-4 shadow-sm">
          <h1 class="display-5 fw-bold">SA-TRA</h1>
          <p class="fs-5">Facilita la forma en que se archivan y recuperan documentos</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-4 shadow-sm">
          <h2 class="display-5">Información</h2>
          <p class="text-muted">
              Nombre: SA-TRA<br>
              Versión: 3.1<br>
              © 2023 SA-TRA, Inc.
          </p>
          <a href="{% url 'enviar_email' %}" class="btn btn-lg rounded-pill btn-dark"> Contactanos</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% if titulo == 'documentos' %}{% endif %}
    {% if titulo == 'archivos' %}{% endif %}
    {% if titulo == 'directorio' %}{% endif %}
    {% if titulo == 'clientes' %}{% endif %}
    {% if titulo == 'empleados' %}

      <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link active fw-normal" aria-current="page" href="{% url 'listar_empleados' %}">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-dark " href="{% url 'listar_cuentas_usuario' %}">Cuentas de usuario</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle disabled" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Acciones</a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="{% url 'registrar_persona' 1%}">Añadir empleado</a></li>
              <li><a class="dropdown-item" href="{% url 'registro' %}">Registrar nueva cuenta</a></li>
            </ul>
          </li>
        </ul>

    {% endif %}
    {% if titulo == 'Cuentas de usuario' %}
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-dark" aria-current="page" href="{% url 'listar_empleados' %}">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-normal" href="{% url 'listar_cuentas_usuario' %}">Cuentas de usuario</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle disabled" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Acciones</a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="{% url 'registrar_persona' 1%}">Añadir empleado</a></li>
              <li><a class="dropdown-item" href="{% url 'registro' %}">Registrar nueva cuenta</a></li>
            </ul>
          </li>
        </ul>
    {% endif %}


    {% block contenido %}
    {% endblock %}
{% endblock%}


