{% extends 'base/index.html' %}
{% load static %}

{% block title %}

    {% if 'inicio' in titulo|lower %}
        <img class="bi me-2 " src="{% static 'img/nav/icons8-casa-94.png' %}" height="50px">
        Inicio
    {% elif 'fichero' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-paquete-94.png' %}" height="50px">
        Fichero
    {% elif 'rol' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-escudo-de-pregunta-94.png' %}" height="50px" >
        Roles
    {% elif 'comentario' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-comentarios-94.png' %}" height="50px" >
        Comentarios
    {% elif 'archivos' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-documento-94.png' %}" height="50px">
        Archivos
    {% elif 'documento' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-documentos-94.png' %}" height="50px">
        Documentos
    {% elif 'estado' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-aprobación-94.png' %}" height="50px">
        Estados
    {% elif 'tipo de' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-revista-94.png' %}" height="50px">
        Tipos de clientes
    {% elif 'directorio' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-contactos-94.png' %}" height="50px">
        Directorio
    {% elif 'cliente' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-usuario-femenino-94.png' %}" height="50px">
        Clientes
    {% elif 'empleado' in titulo|lower or 'cuentas de usuario' in titulo|lower %}
        <img class="bi me-2" src="{% static 'img/nav/icons8-maletín-94.png' %}" height="50px">
        Empleados
    {% endif %}

{% endblock%}

{% block cuerpo %}
    {% if titulo == 'inicio' %}
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bienvenido</h1>
             <p class="lead text-muted">
               texto
             </p>
             <p>
               <a href="#" class="btn btn-primary my-2">Opción 1</a>
               <a href="#" class="btn btn-secondary my-2">Opción 2</a>
            </p>
          </div>
        </div>
      </section>
    {% endif %}
    {% if titulo == 'documentos' %}{% endif %}
    {% if titulo == 'archivos' %}{% endif %}
    {% if titulo == 'directorio' %}{% endif %}
    {% if titulo == 'clientes' %}{% endif %}
    {% if titulo == 'empleados' %}

      <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link active fw-normal" aria-current="page" href="{% url 'listar_empleados' %}">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-dark " href="{% url 'listar_cuentas_usuario' %}">Cuentas de usuario</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle disabled" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Acciones</a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="{% url 'registrar_persona' 1%}">Añadir empleado</a></li>
              <li><a class="dropdown-item" href="{% url 'registro' %}">Registrar nueva cuenta</a></li>
            </ul>
          </li>
        </ul>

    {% endif %}
    {% if titulo == 'Cuentas de usuario' %}
        <ul class="nav nav-tabs my-3">
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-dark" aria-current="page" href="{% url 'listar_empleados' %}">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-normal" href="{% url 'listar_cuentas_usuario' %}">Cuentas de usuario</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle disabled" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Acciones</a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item" href="{% url 'registrar_persona' 1%}">Añadir empleado</a></li>
              <li><a class="dropdown-item" href="{% url 'registro' %}">Registrar nueva cuenta</a></li>
            </ul>
          </li>
        </ul>
    {% endif %}


    {% block contenido %}
    {% endblock %}
{% endblock%}


