{% extends 'menu.html' %}

{% block contenido %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>
    <p>{{ message }}</p>
    {{form.errors}}
    </div>
    {% endfor %}
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>
        {% if field.name == form.roles.name %}
            {% if sinResgistros %}
                {{field.label}}: no hay roles registrados
            {% else %}
                {{field.label}}:<br>
                {% for opcion in field %}
                    {% if opcion.data.label == 'Administrador' and user.is_superuser %}
                    {{opcion}} [Advertencia este rol otorga todos los permisos en el sistema. Solo los Administradores pueden asignar este rol]<br>
                    {% elif opcion.data.label != 'Administrador' %}
                    {{opcion}}<br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% elif field.name == form.password1.name %}
        <ul class="alert alert-secondary">
            <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
            <li>Debe contener al menos 8 caracteres.</li>
            <li>Su contraseña no puede ser una contraseña de uso común.</li>
            <li>Su contraseña no puede ser completamente numérica.</li>
        </ul>
        <br>
        {{field.label}} : {{field}}
        {% else %}
        {{field.label}} : {{field}}
        {% endif %}
        </p>
    {% endfor %}
    <div class="d-grid gap-2 col-3 mx-auto">
        {% if esActualizarContrasenia  %}
            <button type="submit" class="btn btn-sm btn-primary btn-lg">Actualizar Contraseña</button>
            <a class="btn btn-sm btn-danger btn-lg" href="{% url 'actualizar_usuario' empleado.usuario.id %}">Cancelar</a>
        {% else %}
            <button type="submit" class="btn btn-sm btn-primary btn-lg">Registrar</button>
            {% if empleado %}
                <a class="btn btn-sm btn-warning btn-lg" href="{% url 'actualizar_contrasenia_usuario' empleado.usuario.id %}">Actualizar contraseña</a>
            {% endif %}
            <a class="btn btn-sm btn-danger btn-lg" href="{% url 'listar_cuentas_usuario' %}">Cancelar</a>
        {% endif %}
    </div>
</form>

{% endblock %}