{% extends 'menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}

<div class="card rounded-4 bg-body-tertiary shadow-sm">
    <div class="card-header bg-dark-subtle rounded-top-5"></div>
    <div class="card-body">
    <p class="card-title px-3 fs-3 fw-bold text-dark text-muted text-aling-center">
         <img class="bi " src="{% static '/img/icons/icons8-editar-94.png' %}" height="25px">
        Crear nueva cuenta
    </p>
    <div class="card-text">
    <div class="row g-5">
        <div class="col">
        <form method="POST" class="px-3">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == form.roles.name %}

                {% if sinResgistros %}
                    {{field.label}}: no hay roles registrados
                {% else %}
                    {{field.label}}:<br>
                    {% for opcion in field %}
                        {% if opcion.data.label == 'Administrador' and user.is_superuser %}
                        {{opcion}} [Advertencia este rol otorga todos los permisos en el sistema. Solo los Administradores pueden asignar este rol]<br>
                        {% elif opcion.data.label != 'Administrador' %}
                        {{opcion}}<br>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% elif field.name == form.password1.name %}

            <div class="alert alert-primary rounded-4 alert-dismissible fade show shadow-sm my-0">
                <div class="px-3">
                    <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                    <li>Debe contener al menos 8 caracteres.</li>
                    <li>Su contraseña no puede ser una contraseña de uso común.</li>
                    <li>Su contraseña no puede ser completamente numérica.</li>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <br>
            {{field|as_crispy_field}}
            {% else %}
            {{field|as_crispy_field}}

            {% endif %}
        {% endfor %}
            <br>
        <div class="d-flex gap-2 col-3 mx-auto">
            {% if esActualizarContrasenia  %}
                <button type="submit" class="btn btn-primary ">Actualizar Contraseña</button>
                <a class="btn btn-danger rounded-pill" href="{% url 'actualizar_usuario' empleado.usuario.id %}">Cancelar</a>
            {% else %}
                <button type="submit" class="btn btn-dark rounded-pill">Registrar</button>
                {% if empleado %}
                    <a class="btn btn-warning rounded-pill" href="{% url 'actualizar_contrasenia_usuario' empleado.usuario.id %}">Actualizar contraseña</a>
                {% endif %}
                <a class="btn btn-danger rounded-pill" href="{% url 'listar_cuentas_usuario' %}">Cancelar</a>
            {% endif %}
        </div>
        </form>
        </div>

            {% if messages %}
            <div class=" col-md-5 col-lg-4 order-md-last">
                <div class="messages">

                    {% for message in messages %}
                    <div {% if message.tags %} class="rounded-4 alert alert-{{message.tags}}"{% endif %}>
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                      <span class="text-danger">{{ message }}</span>
                      <span class="badge bg-danger rounded-pill">!</span>
                    </h4>
                    <div class="list-group-item">
                    {{form.errors}}
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

    </div>
    </div>
    </div>
  </div>
</div>
<br>
{% endblock %}