{% extends 'base/index.html' %}
{% load static %}

{% block title %}
{% if titulo == roles %}
<img src="{% static 'img/nav-color/icons8-security-lock-100.png' %}" height="40px" >
Roles
{% endif %}
{% if titulo == roles %}
<img src="{% static 'img/nav-color/icons8-product-documents-100.png' %}" height="40px">
Trámites
{% endif %}
{% endblock%}

{% block cuerpo %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link disabled link-secondary">Información</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-secondary" href="{% url 'listar_roles' %}">Lista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-secondary" href="{% url 'crear_rol' %}">Crear</a>
  </li>
</ul>
{% block contenido %}
{% endblock %}
{% endblock%}